@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

html{
    height: 100%;
}
body{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    margin: 0px;
}
.background-picture {
  background-attachment: fixed;
  height: 100%;
  background-position: 70% 20%;
  background-image: url("../pictures/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-gray {
  background-color: lightgray;
}
a{
  color: #000000;
}
h2{
    font-size: 34px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 26px;
}
label{
    font-size: 26px;
}
input {
  height: 40px;
  border: 2px solid #3B3838;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px 0 30px;
  display: inline;
}
input:hover{
  border: 2px solid #00cc00;
}
input:focus{
  outline: 0;
  border: 2px solid #00cc00;
}
select{
  height: 40px;
  border: 2px solid #3B3838;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px 0 30px;
  display: inline;
  width: 600px;
}
select:hover{
  border: 2px solid #00cc00;
}
select:focus{
  border: 2px solid #00cc00;
}
textarea {
  border: 2px solid #3B3838;
  font-size: 20px;
  margin: 5px 0 30px;
  resize: vertical;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
}
textarea:hover{
  border: 2px solid #00cc00;
}
textarea:focus{
  outline: 0;
  border: 2px solid #00cc00;
}
button{
    margin-top: 20px;
    height: 40px;
    font-family: Ubuntu;
    font-size: 20px;
    background-color: #00cc00;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
}
.d-none {
  display: none;
}
.btn{
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover{
  background-color:#eeeeee;
}
.green{
  color: #FFF;
  background-color: #00cc00;
}
.green:hover{
  background-color: #40D540 !important;
}
.blue{
  color: #FFF !important;
  background-color: #102AF0 !important;
}
.blue:hover{
  background-color: #425BEB !important;
}
.xl{
    width: 587px;
}
.l{
    width: 381px;
}
.m{
    width: 284px;
}
.s{
    width: 187px;
}
.header{
  text-align: center;
  margin-top: 0px;
}
.formular{
    width: 600px;
    height: auto;
    margin: 100px auto 20px auto;
    border: 1px solid #3B3838;
    padding: 50px 100px;
    background-color: white;
}
.content{
    width: 600px;
}
.phone{
    background-color: #00cc00;
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Ubuntu;
    border-radius: 20px;
    border: none;
}

 /* Customize the label (the container) */
 .container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark{
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark{
    background-color: #00cc00;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after{
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after{
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 

/* Create a custom radio button */
.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiobtn {
  background-color: #00cc00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiobtn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} 