<div class="filter">
    <h3>Basisdaten</h3>

    <h4>Zustand</h4>
    <input type="checkbox" class="checkbox"><p class="checkbox">neu</p><br/>
    <input type="checkbox" class="checkbox"><p class="checkbox">gebraucht</p>

    <h4>Kategorie</h4>
    <select>
        <option>MTB</option>
    </select>

    <h4>Marke</h4>
    <select>
        <option>Orbea</option>
    </select>

    <h4>Model</h4>
    <select>
        <option>beliebig</option>
    </select>

    <h4>Preis</h4>
    <input placeholder="von €" style="width: 110px;">
    <input placeholder="bis €" style="width: 110px;">

    <h4>Geschlecht</h4>
    <select>
        <option>beliebig</option>
        <option>Damenrad</option>
        <option>Herrenrad</option>
    </select>

    <h4>Model</h4>
    <select>
        <option>beliebig</option>
    </select>
</div>
